h1 {
    font-size:50px;
    background-color:rgba(51, 92, 227, 0.621); 
    color:darkseagreen; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h3 {
    font-size:90px;
    background-color:rgba(26, 90, 173, 0.621); 
    color:darkseagreen; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ol {
    border: 5px outset rgb(7, 224, 249);
    background-color: rgba(24, 85, 102, 0.779);
    color:antiquewhite;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

ul {
    border: 5px outset rgb(7, 224, 249);
    background-color: rgba(24, 85, 102, 0.779);
    color:rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

ol p{
    color:antiquewhite;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}

.Div {
    border: 5px outset rgb(7, 224, 249);
    background-color:rgb(24, 85, 102);
    text-align: center;
    color:antiquewhite;
  }

.Lol {
    font-family:'Courier New', Courier, monospace;
    border: 5px outset rgb(7, 224, 249);
    background-color: rgba(24, 85, 102, 0.779);
    text-align: left;
    color:antiquewhite;
}

legend {
    background-color: #645cfdd7;
    color: #fff;
    padding: 3px 6px;
}
  
input {
    background-color: #d2d2d6d7;
    margin: 0.4rem;
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #2b6c8c;
    font-style: italic;
    color: #f2ff01;
}

table,
th,
td {
    border: 1px solid rgb(23, 120, 240);
}

h2 {
    margin-left: 40px;
}

img {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    margin-left: -20px;
    border: 10px solid #188dc8;
    border-radius: 0 50px 0 50px
}

.wow {
    animation-duration: 10s;
    animation-name: slide-in;
  }
  
  @keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

